@font-face {
  font-family: "latest";
  src: url(fonts/SegoeUI-Roman-VF_web.woff2);
}
@keyframes swoosh {
  0% {
    transform: translateX(13px);
  }
  100% {
    transform: translateX(-24px);
  }
}
@keyframes arrow {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(4px);
  }
}
body {
  font-family: "latest";
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
li {
  list-style-type: none;
}

.nav-container {
  display: flex;
  max-width: 1310px;
  width: 100%;
  max-height: 54px;
  margin: 0 auto;
  padding: 0 0.9375rem;
  justify-content: space-between;
  align-items: center;
  color: #1a1a1f;
}

.nav-left {
  display: flex;
  margin-right: auto;
  cursor: pointer;
}
.title:hover {
  text-decoration: underline;
}
.azure {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  width: 1.5em;
  font-size: 15px;
  font-weight: 400;
  margin-top: 16px;
  margin-bottom: 16px;
}
.title {
  font-size: 16px;
  font-weight: 900;
  margin-left: 24px;
  margin-top: 16px;
  margin-bottom: 16px;
}
.nav-list {
  display: flex;
  align-items: center;
  padding: 0;
  margin-left: 24px;
}
.nav-list li button {
  border: none;
  background: none;
  text-align: left;
  font-size: 13px;
  cursor: pointer;
}
.nav-list li button:hover {
  text-decoration: underline;
}
.nav-list li button i {
  margin: 0;
  margin-left: 4px;
  margin-top: 5px;
  font-size: 8px;
  font-weight: 600;
}

.nav-right-desktop {
  display: flex;
  align-items: center;
}
.nav-right-tab {
  display: none;
}
form {
  width: 150px;
}
.searchbar {
  border: 1px solid #747479;
  border-radius: 4px;
  max-width: 130px;
  max-height: 32px;
  font-weight: 400;
  line-height: 1.5;
}
.searchbar input {
  border: none;
  outline: none;
  color: #4c4c51;
  font-size: 11px;
  width: 70%;
  margin: 5px;
  margin-right: 0px;
}
.searchbar i {
  transform: rotateY(180deg);
  font-size: 11px;
  margin-right: 5px;
}
.nav-list-2 {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  color: #1a1a1f;
  font-size: 13px;
}
.nav-list-2 li a {
  padding: 20px 8px;
  font-size: 13px;
  line-height: 1;
  cursor: pointer;
}
.nav-list-2 li a:hover {
  text-decoration: underline;
}
.freeac {
  font-weight: 900;
  background: #89c402;
  padding: 6px 9px;
  border: 1px solid #6f9e02;
  border-radius: 4px;
}
.freeac:hover {
  background: #bbe658;
}
.covid {
  text-align: center;
  color: #fff;
  background-color: #0078d4;
  padding: 13px 0;
  font-size: 13px;
  font-weight: 600;
}
.covid a:hover {
  text-decoration: underline;
  cursor: pointer;
}
.covid a:hover i {
  animation: arrow 0.3s ease forwards;
}
.banner-top {
  background: url(images/hero-desktop.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 608px;
}
.welcome-wrapper {
  max-width: 1310px;
  margin: 0 auto;
  position: relative;
}
.welcome {
  position: absolute;
  top: 80px;
  width: 58%;
  padding: 0 0.9375rem;
}
.p-top {
  color: #0062ad;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.3;
  text-align: left;
  margin: 0;
  margin-bottom: 9px;
}
.welcome-text h1 {
  font-size: 53px;
  color: #243a5e;
  font-weight: 600;
  line-height: 1.1;
  margin: 0;
  padding-bottom: 15px;
  text-align: left;
}
.p-bottom {
  color: #243a5e;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.3;
  text-align: left;
  margin: 0;
  margin-top: 13px;
}
.welcome-buttons {
  margin-top: 30px;
}
.welcome-buttons ul {
  display: flex;
  margin: 0;
  padding: 0;
}
.welcome-buttons ul li:nth-child(1) {
  background: #0078d4;
  padding: 10px 16px;
  border-radius: 4px;
  border: 1px solid #0078d4;
  margin: 0;
  margin-right: 24px;
  margin-top: 00px;
  color: #fff;
  font-size: 13px;
  font-weight: 600;
  cursor: pointer;
}
.welcome-buttons ul li:nth-child(1):hover {
  background: #0062ad;
  text-decoration: underline;
  transition-duration: 0.3s;
}
.welcome-buttons ul li:nth-child(2) {
  padding: 10px 16px;
  border-radius: 4px;
  border: 1px solid #0078d4;
  color: #0078d4;
  margin-top: 00px;
  font-size: 13px;
  font-weight: 600;
  cursor: pointer;
}
.welcome-buttons ul li:nth-child(2):hover {
  color: #fff;
  background: #0078d4;
  text-decoration: underline;
  transition-duration: 0.3s;
}
.overview {
  text-align: center;
  padding: 60px 0px;
  margin: 0 auto;
  color: #4c4c51;
  max-width: 1310px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.overview h2 {
  margin: 0;
  color: #1a1a1f;
  font-size: 21px;
  font-weight: 600;
  line-height: 1.2;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.overview-midsecs {
  margin: 36px auto;
  padding: 0 0.9375rem;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  column-gap: 30px;
  row-gap: 24px;
}
.sec1 {
  grid-column: 1/2;
  grid-row: 1/3;
  background-image: url(images/join-now.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid #fff;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.089) 0 2px 5px;
  cursor: pointer;
}
.sec1-text {
  padding: 130px 0 0px 36px;
  max-width: 310px;
  text-align: left;
}
.sec1 h2 {
  display: inline-block;
  font-family: 'latest';
  font-size: 35px;
  color: #50e6ff;
}

.sec1 p {
  display: inline-block;
  color: #fff;
  font-size: 15px;
}
.sec2 {
  grid-column: 2/3;
  grid-row: 1/2;
  display: flex;
  border: 1px solid #fff;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.089) 0 2px 5px;
  text-align: left;
  cursor: pointer;
}
.sec2 img {
  height: 173px;
  width: 153px;
}
.sec2-text,
.sec3-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 13px;
}
.sec2-text h2,
.sec3-text h2 {
  color: #0062ad;
  font-size: 18px;
  font-weight: 550;
  line-height: 1.3;
}
.sec2-text p,
.sec3-text p {
  color: #4c4c51;
  font-size: 13px;
  font-weight: 400;
}
.sec3 {
  grid-column: 2/3;
  grid-row: 2/3;
  display: flex;
  border: 1px solid #fff;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.14) 0 2px 5px;
  text-align: left;
  cursor: pointer;
}
.sec3 img {
  height: 142px;
  width: 153px;
}

.sec1:hover h2 {
  text-decoration: underline;
}
.sec2:hover h2,
.sec3:hover h2 {
  text-decoration: underline;
  color: #243a5e;
}
.sec3:hover,
.sec2:hover,
.sec1:hover {
  box-shadow: rgba(0, 0, 0, 0.14) 0 4px 5px;
  transition-duration: 0.3s;
}

.overview-button {
  margin-top: 42px;
  margin-left: auto;
  margin-right: auto;
}
.overview-button span {
  margin-right: 36px;
  color: #1a1a1f;
  font-size: 15px;
  font-weight: 600;
  line-height: 1.5;
}
.overview-button a {
  color: #0062ad;
  border: 1px solid #0078d4;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  padding: 10px 16px;
  fill: #f8f9fa;
  cursor: pointer;
  display: inline-block;
  width: auto;
}
.overview-button a:hover {
  color: #fff;
  text-decoration: underline;
  background-color: #0078d4;
  transition-duration: 0.3s;
}
.products {
  padding: 60px 0;
  background-color: #f8f9fa;
}
.products h2 {
  max-width: 1310px;
  width: 100%;
  margin: 0 auto;
  color: #1a1a1f;
  text-align: left;
  font-size: 23px;
  font-weight: 600;
  letter-spacing: 1px;
  padding: 0 0.9375rem;
}
.main {
  display: flex;
  max-width: 1310px;
  width: 100%;
  margin: 0 auto;
  margin-top: 48px;
  padding: 0 0.9375rem;
}
.cards-mid {
  display: flex;
}
.fmi-cards {
  display: flex;
}
.vertical-tabs {
  width: 25%;
}
.vertical-tabs ol,
.vertical-tabs ul {
  padding: 0;
  margin: 0;
}
.vertical-tabs ol li {
  color: #1a1a1f;
  font-size: 13px;
  font-weight: 400px;
  padding: 13px;
  width: 100%;
  text-align: left;
  cursor: pointer;
  margin-bottom: 13px;
  line-height: 1.5;
}
.vertical-tabs li:hover {
  color: #0078d4;
  text-decoration: underline;
}
.featured {
  font-weight: 600;
  border-left: 4px solid #0062ad;
}
.seeall {
  color: #0062ad;
  font-weight: 600;
  font-size: 13px;
  padding: 13px;
  width: 100%;
  text-align: left;
  cursor: pointer;
  margin-bottom: 13px;
  line-height: 1.5;
}
.cardgrid-mid {
  width: 75%;
  padding-left: 0.9375rem;
}
.fmi-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 30px;
  row-gap: 24px;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 24px;
  background-color: #fff;
  cursor: pointer;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.14) 0 2px 5px;
}
.card-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.card-top img {
  width: 34px;
  height: 34px;
}
.card-top p {
  margin: 24px 0;
  color: #4c4c51;
}
.card a {
  color: #0062ad;
  font-size: 13px;
  font-weight: 600;
  line-height: 1.3;
  text-align: center;
}
.card:hover {
  box-shadow: rgba(0, 0, 0, 0.14) 0 4px 5px;
  transition-duration: 0.3s;
}
.card:hover a {
  text-decoration: underline;
}
.tabview {
  width: 25%;
  padding-left: 13px;
  cursor: pointer;
  transform: translateX(13px);
}
.tabview:hover {
  animation: swoosh 0.5s ease forwards;
}
.tab-window img {
  padding: 24px;
  margin-left: 24px;
  max-height: 430px;
  background-color: #000;
  border-radius: 13px;
}
.tab-text {
  margin-left: 24px;
  display: flex;
  align-items: center;
  color: #0062ad;
  font-size: 13px;
  max-width: 30ch;
}
.tab-text p {
  margin: 0;
  margin-left: 10px;
}
.nba {
  display: flex;
  flex-direction: column;
  padding: 60px 0;
}
.nba h2 {
  margin: 0 auto;
  color: #1a1a1f;
  font-size: 21px;
  font-weight: 600;
  letter-spacing: 1px;
}
.nbanco {
  margin: 0 auto;
}
.nbanco ol {
  display: flex;
  justify-content: space-between;
  padding: 0;
}
.brand {
  margin: 13px;
  padding: 0;
  width: 25%;
  cursor: pointer;
  display: flex;
}
.brand img {
  height: 60px;
  margin: 0;
  padding: 13px;
  width: 100%;
}
.gray {
  filter: grayscale(100%);
}
.selected {
  border-bottom: 3px solid #0078d4;
}
.brand img:hover {
  background-color: #dbefff;
  transition-duration: 0.3s;
}
.gray:hover {
  filter: none;
}
.nbapic {
  background-image: url(images/nba-desktop.webp);
  min-height: 600px;
  height: 100%;
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  background-size: cover;
  background-position: center;
}
.nba-text-wrapper {
  max-width: 1310px;
  margin: 0 auto;
  position: relative;
}
.nbatext {
  background-color: #1a1a1ff0;
  position: absolute;
  top: 350px;
  width: 50%;
  padding: 24px;
  margin: 0 0.9375rem;
  border-radius: 6px;
}
.nbatext p {
  font-size: 20px;
  font-weight: 400;
  margin: 0;
  margin-bottom: 25px;
  color: #f8f9fa;
}
.nbatext a {
  color: #f8f9fa;
  font-size: 13px;
  font-weight: 600;
  text-decoration: underline;
  position: relative;
  cursor: pointer;
}
.nbatext a i {
  height: 13px;
  width: 13px;
  position: absolute;
  bottom: 1px;
  left: 65px;
}
.nbatext a:hover {
  text-decoration: none;
}
.nbatext a:hover i {
  animation: arrow 0.3s ease forwards;
}
.tools {
  padding: 60px 0.9375rem;
  background-color: #f8f9fa;
}
.tools-wrapper {
  display: flex;
  max-width: 1310px;
  width: 100%;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  text-align: left;
}
.tools-wrapper img {
  width: 36.667%;
  float: right;
  padding: 20px;
}
.tools-right {
  padding: 0 30px;
}
.tools-text h2 {
  font-size: 33px;
  color: #1a1a1f;
  letter-spacing: 1px;
}
.tools-button {
  display: inline-block;
  font-size: 13px;
  font-weight: 600;
  color: #0078d4;
  padding: 10px 16px;
  border: 1px solid #0062ad;
  border-radius: 4px;
  cursor: pointer;
}
.tools-button:hover {
  color: #fff;
  text-decoration: underline;
  background-color: #0078d4;
  transition-duration: 0.3s;
}
.discover {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 84px 0.9375rem;
  max-width: 1310px;
  width: 100%;
  margin: 0 auto;
}
.discover h2 {
  color: #1a1a1f;
  font-size: 23px;
  font-weight: 600;
  letter-spacing: 1px;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, minmax(auto, 300px));
  column-gap: 30px;
  row-gap: 24px;
  margin-top: 36px;
  padding: 0 0.9375rem; 
  max-width: 1310px;
  width: 100%;
}
.grid-container img {
  border-radius: 6px 6px 0 0;
  image-rendering: auto;
  width: 100%;
  height: 100%;
}
.grid1 {
  grid-column: 1/2;
  grid-row: 1/2;
  display: flex;
  flex-direction: column;
  max-width: 300px;
  cursor: pointer;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.14) 0 2px 5px;
}
.grid2 {
  grid-column: 2/3;
  grid-row: 1/2;
  display: flex;
  flex-direction: column;
  max-width: 300px;
  cursor: pointer;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.14) 0 2px 5px;
}
.grid3 {
  grid-column: 3/5;
  grid-row: 1/2;
  display: flex;
  flex-direction: column;
  max-width: 630px;
  cursor: pointer;
  overflow: hidden;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.14) 0 2px 5px;
}
.grid3-text {
  display: none;
}
.grid3-text-desktop {
  grid-column: 3/5;
  grid-row: 1/2;
  z-index: 1;
  max-width: 630px;
  cursor: pointer;
  display: flex;
  align-items: flex-end;
}
.grid3-text-desktop p,
.grid5-text-desktop p {
  color: #fff;
  font-size: 23px;
  font-weight: 600;
  padding: 24px;
  margin: 0;
}
.grid4 {
  grid-row: 2/3;
  grid-column: 1/2;
  display: flex;
  flex-direction: column;
  max-width: 300px;
  cursor: pointer;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.14) 0 2px 5px;
}
.grid5 {
  grid-column: 2/4;
  grid-row: 2/3;
  display: flex;
  flex-direction: column;
  max-width: 630px;
  cursor: pointer;
  overflow: hidden;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.14) 0 2px 5px;
}
.grid5-text {
  display: none;
}
.grid5-text-desktop {
  grid-column: 2/4;
  grid-row: 2/3;
  z-index: 1;
  max-width: 630px;
  cursor: pointer;
  display: flex;
  align-items: flex-end;
}
.grid6 {
  grid-column: 4/5;
  grid-row: 2/3;
  display: flex;
  flex-direction: column;
  max-width: 300px;
  cursor: pointer;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.14) 0 2px 5px;
}
.text1 {
  color: #4c4c51;
  font-size: 12px;
  font-weight: 550;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.text2 {
  font-size: 16px;
  font-weight: 400;
  color: #2e2e33;
}
.gridtext {
  padding: 12px;
  padding-right: 15px;
}
.gridz:hover {
  box-shadow: rgba(0, 0, 0, 0.14) 0 4px 5px;
}
.gridz:hover .text2 {
  text-decoration: underline;
}
.grid3-text-desktop:hover p,
.grid5-text-desktop:hover p {
  text-decoration: underline;
}
.story {
  background-image: url(images/desktop.webp);
  min-height: 700px;
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  justify-content: center; 
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
}
.alex-wrapper {
  position: absolute;
  max-width: 1300px;
  top: 60px;
  padding: 0 0.9375rem;
}
.alex {
  display: flex;
  background-color: rgba(26, 26, 31, 0.94);
  width: 56%;
  padding: 24px;
  border-radius: 6px;
}
.alex p {
  color: #f4f5f6;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 1px;
  margin: 0;
}
.alex-links ul {
  display: flex;
  align-items: center;
  padding: 0;
}
.alex-links button {
  background-color: #0078d4;
  border: 0;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 600;
  color: #fff;
  padding: 14px 18px 14px 48px;
  cursor: pointer;
  position: relative;
}
.alex1 {
  margin: 0;
  margin-top: 12px;
  margin-right: 24px;
}
.alex1 svg {
  position: absolute;
  fill: #0078d4;
  left: 16px;
  top: 20%;
  width: 6px;
  border-radius: 100px;
  padding: 8px;
  background-color: #50e6ff;
}
.alex2 {
  margin-top: 10px;
  color: #f4f5f6;
  font-size: 14px;
  font-weight: 600;
  text-decoration: underline;
  text-underline-offset: 0.1em;
  text-decoration-color: #b8b9ba;
  cursor: pointer;
}
.alex2 i {
  padding-left: 4px;
}
.alex1 button:hover {
  background-color: #0062ad;
  text-decoration: underline;
}
.alex2:hover {
  text-decoration: none;
}
.alex2:hover i {
  animation: arrow 0.3s ease forwards;
}
.cards-bottom {
  padding: 60px 0;
  width: 100%;
  display: flex;
  justify-content: center;
}
.cardgrid-bottom {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 30px;
  width: 100;
  max-width: 1310px;
  padding: 0 0.9375rem;
}
.gridcard {
  padding: 24px;
  color: #f8f9fa;
  background-color: #f8f9fa;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.14) 0 2px 5px;
  cursor: pointer;
}
.gridcard img {
  height: 48px;
  width: 48px;
  vertical-align: middle;
  max-width: 100%;
}
.gridcard h3 {
  font-size: 20px;
  font-weight: 600;
}
.gridcard p {
  font-size: 16px;
  font-weight: 400;
}
.grid-a {
  background-color: #243a5e;
}
.grid-b {
  background-color: #242429;
}
.grid-c {
  background-color: #0062ad;
}
.gridcard:hover h3 {
  text-decoration: underline;
}

footer {
  background-color: #f4f5f6;
  margin: 0;
  padding: 48px 0 36px;
}
.footer-wrapper {
  max-width: 1310px;
  width: 100%;
  margin: 0 auto;
}
.social-media {
  display: flex;
  align-items: center;
  max-width: 1310px;
  width: 100%;
  margin: 0 auto;
  padding: 0 18px;
}
.social-media a {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  padding: 12px;
  color: #4c4c51;
  background-color: #eaebec;
  cursor: pointer;
}
.social-media a span svg {
  height: 24px;
  width: 24px;
  vertical-align: middle;
}
.gta {
  margin: 0;
  margin-left: 12px;
  font-size: 14px;
  font-weight: 600;
}
.social-media a:hover .gta {
  text-decoration: underline;
}
.social-media ul {
  display: flex;
  align-items: center;
  margin: 0;
  margin-left: 36px;
  padding: 0;
}
.social-media ul li svg {
  width: 24px;
  max-width: 100%;
  padding: 2px 25px 2px 0;
  cursor: pointer;
}
.social-media ul li svg:hover {
  opacity: 0.7;
}
.columns {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  max-width: 1310px;
  margin: 36px auto 0;
  column-gap: 24px;
  padding: 0 18px;
}
.column h3 {
  font-size: 13px;
  font-weight: 600;
  margin: 0 0 9px;
  line-height: 1.3;
  color: #1a1a1f;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.column ul {
  padding: 0;
}
.column ul li {
  margin-top: 12px;
  color: #1a1a1f;
  padding: 2px 0;
  font-size: 12px;
  font-weight: 400;
  cursor: pointer;
}
.column ul li:hover {
  text-decoration: underline;
}
.tail-end {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 0 18px;
  column-gap: 30px;
}
.language {
  grid-column: 1/2;
  display: flex;
  flex-direction: column;
  max-width: 188px;
}
.tail {
  grid-column: 2/4;
  margin-top: 36px;
}
.language label {
  margin-bottom: 8px;
  vertical-align: text-bottom;
  font-size: 12px;
  color: #1a1a1f;
  margin-bottom: 8px;
  cursor: pointer;
}
.language select {
  background-color: #fff;
  color: #1a1a1f;
  font-size: 14px;
  padding: 5px;
  height: 36px;
  width: 100%;
  border: 1px solid #747479;
}
.tail {
  padding: 0;
  text-align: right;
}
.tail p {
  display: inline;
  color: #1a1a1f;
  font-size: 12px;
  padding: 2px 0;
  width: 100%;
  margin: 0;
  margin-bottom: 12px;
  margin-left: 16px;
  cursor: pointer;
}
.trademark {
  font-weight: 600;
}
.tail p:hover {
  text-decoration: underline;
}

@media screen and (max-width: 1080px) {
  .nav-right-desktop {
    display: none;
  }
  .nav-right-tab {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 16px 24px 16px 0;
    cursor: pointer;
  }
  .nav-right-tab i {
    transform: rotateY(180deg);
    font-size: 16px;
    margin-right: 20px;
  }
  .nav-right-tab svg{
    width: 24px;
    height: 24px;
    font-size: 13px;
    font-weight: 400;
    color: #1a1a1f;
    margin-right: 20px;
  }
  .nav-right-tab a{
    font-size: 13px;
    padding: 20px 8px;
  }
  .nav-right-tab a:hover{
    text-decoration: underline;
  }
}


@media screen and (max-width: 959px){
  .tab-window{
    display: none;
  }
  .main{
    display: flex;
    flex-direction: column;
  }
  .cardgrid-mid{
  padding: 0;
  padding-right: 0.9375rem;
  }
  .tabview{
    width: 100%;
    display: flex;
    justify-content: right;
    margin-top: 34px;
    transform: none;
  }
  .tabview:hover{
    animation: none;
  }
  .tab-text{
    max-width: fit-content;
    padding-right: 30px;
  }
  .tab-text p{
    font-size: 14px;
    padding-right: 12px;
  }
  .tab-text br{
    display: none;
    cursor: pointer;
  }
}